@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #ddd;
}
#contenedor{
    width: 100%;
    height:auto;
    margin: 0;
    padding: 0;
     
}
header{
    width: 100%;
    height: 200px; 
    background-color:#b9ac28;
    margin-top:0;
    position: fixed;
    top: 0;
    left: 0;
    
}
#contenedor-header{
    width: 100%;
    height: 80%;
    margin: auto;
    align-items: center;

}
main{
    width: 100%;
    height: auto;
    background-color:#fff;
    margin-top: 215px;
    padding: 40px 20px;
}

#main-mk{
    margin-top: 120px;
    height: 700px;
}

footer{
    
    width: 100%;
    height: 50px;
    color: #131311;
    background-color: #b9ac28;
    line-height: 50px;
    text-align: center;
}
.container_menu{
    width: 100%;
    height: 50px;
    background:#131311;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;

    
}
.menu{
    max-width: 950px;
    margin: auto;
    height: 50%;
}

nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
    
}
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background:#b9ac28;
    color: #131311;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    border-radius: 0.5em;
}

/* desplegable Escondido*/
nav ul li ul{
    width: 250px;
    flex-direction: column;
    background-color: rgba(19, 19, 17,.9);
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);*/
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
    border-radius:0.5em;
}
 /* desplegable*/
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 50px;
}
/* triangulo*/
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #131311;
    position: absolute;
    top: -12px;
    left:20px;

}
nav ul li ul li a{
    display: block;
    color: white;
    padding: 6px;
    padding-left: 14px;
    /*margin-top: 10px;*/
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms;
}
nav ul li ul li a:hover{
    background: #131311;
    color: white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    border-radius: 0.5em;
}

#tabla{
   padding: 100px;
  
}
.puntos{
    padding-left: 40px;
}
.logo{
   width: 20%;
   background-color: #333;
}


#logo{
    width: 20%;
    height: 60%;
   float: left;
   padding: 10px 25px;

}

.majora{
    width: 250px;
    height: 150px;
}
#titulo{

width: 20%;
margin-left: 20em;
height: 100%;
float:left;
position: relative;
}

div a{
    color: azure;
    font-size: 15px;
}

#user{
    
width: 20%;
height: 60%;
float:right;
padding-left: 50px;

}

div i{
    font-size: 50px;
    padding-top: 1em;
    color: #131311;
}

div i:hover{
color: #fff
}

li a i{
    color: aqua;
    font-size: 25px;
    margin-bottom: 0.8em;
}

ul li ul li a i{
    font-size: 15px;
    margin-right: 0.5em;
}
.fa-calculator,.fa-html5,.fa-car-side{
    margin-right: 0.5em;
}
.fa-twitter{
    color: #131311;
    
    margin: 0 0.5em 0.5em ;
}

li a i{
    color: azure;
}

h1{
font-size: 40px;
}




#tit{
    position: absolute;
    right: 30px;
    bottom: 60px;
    color: #131311;

}#tit:hover{
    color: #fff;
   
}



p::selection{
background: #4c0027;
}

