@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
table th{
    width: 10em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    background-color:   #131311;
    border-radius: 5px;
    color: azure;
    
}
table th:hover{
    background-image: linear-gradient(#083C47,#4FC5E0);
    transform: scale(1.1);
} 
table td {
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-size: 25px;
    border-radius: 10px;
}
#tabla{
    padding: 70px 235px;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

.vacio{
    background-color: azure;
}

.len{
    background-color: #45CC8F;
}
.len:hover{
    background-image: linear-gradient(#45CC8F,#34996C);
    transform: scale(1.1);
}

.prog{
    background-color: #4FC5E0;
}
.prog:hover{
    background-image: linear-gradient(#4FC5E0,#106070);
    transform: scale(1.1);
}

.sis{
    background-color: #E0E048;
}
.sis:hover{
    background-image: linear-gradient(#E6E693,#ADAD37);
    transform: scale(1.1);
}

.base{
    background-color:#FA5B00 ;
}
.base:hover{
    background-image: linear-gradient(#FA5B00,#ffa200);
    transform: scale(1.1);
}

.cal{
    background-color: #f44262;
}
.cal:hover{
    background-image: linear-gradient(#f83d5f,#FA0501);
    transform: scale(1.1);
}

.fisi{
    background-color: #7648E0;
    
}
.fisi:hover{
    transform: scale(1.1);
}

table{
    background-color: black;
}